<script src="app.module.ts"></script>
<div class="dashboard-container">
  <h1>PAC-METRO</h1>
  <p *ngIf="isSchematic"><span>Lives: {{numberOfLives}}  Score: {{score}}</span></p>
  <small>
    <span>{{pacman?.currentStation.name}}</span>&nbsp;
    <span [style.background-color]="pacman?.currentLine.color" style="color:white">{{pacman?.currentLine.name}}  {{pacman?.currentLine.lastStationName}}</span>
  </small>
  <p>
    <small>
      <mat-slide-toggle
        [checked]="isSchematic" (toggleChange)="changeCoordinatesMode()">schematic
      </mat-slide-toggle>
    </small>
  </p>
</div>

<div class="map-container" #container>
  <div class="map"
       leaflet
       [style.height]="container.offsetHeight"
       [style.width]="container.offsetWidth"
       [leafletOptions]="mapOptions"
       [leafletCenter]="pacman?.marker.getLatLng()"
       [leafletLayers]="layers"
       [leafletZoom]="15">
  </div>
</div>

<div class="input-container" *ngIf="!isSchematic">
  <mat-form-field>
    <input matInput [disabled]="isHandlingInput"
           placeholder="Where do you wanna go?"
           (change)="handleInput(input.value)" #input>
  </mat-form-field>
  <mat-spinner *ngIf="isHandlingInput" [diameter]="30"></mat-spinner>
</div>

<div class="loader-container" *ngIf="isLayerInitLoading">
  <div>
    <mat-spinner class="loader"></mat-spinner>
  </div>
</div>


<div class="message-container" *ngIf="gameover || won">
  <div>
    <p *ngIf="gameover">Sorry. You are game over.</p>
    <p *ngIf="won">Yeay. You won the game.</p>
    <p *ngIf="isSchematic">Your score is {{score}}</p>
  </div>
</div>
